body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../src/img/Frame.png);
}

.registration {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15px;
}

.registration .logos {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}

.registration .bx {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #b79e80;
  max-width: 40rem;
  height: 37rem;
  border-radius: 20px;
}

.registration img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.registration span img {
  width: 100%;
  height: 80px;
  margin: 20px;
  padding-right: 50px;
  cursor: pointer;
}

.registration h1 {
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 30px;
}

.registration label {
  font-size: 35px;
  padding: 10px;
}

.inputs-lgn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bx .inputs-lgn input[type="text"] {
  border: none;
  width: 450px;
  height: 50px;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  color: 0000;
  padding: 10px;
}

.bx .inputs-lgn input[type="password"] {
  border: none;
  width: 450px;
  height: 50px;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  color: 0000;
  margin-bottom: 40px;
  padding: 10px;
}

.bx button {
  text-align: center;
  width: 170px;
  height: 60px;
  outline: none;
  border: 3px solid #000;
  border-radius: 5px;
  font-size: 36px;
  background-color: #816347;
  cursor: pointer;
  margin-bottom: 20px;
}

.bx button:hover {
  background-color: #523c28;
}

.bx .links {
  display: flex;
  gap: 15px;
}

.bx .links p {
  font-weight: 400;
  font-size: 30px;
}

.logos-register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs-rgs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bx .inputs-rgs input[type="text"] {
  border: none;
  width: 450px;
  height: 50px;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  color: 0000;
  padding: 10px;
}

.bx .inputs-rgs input[type="password"] {
  border: none;
  width: 450px;
  height: 50px;
  background-color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  color: 0000;
  padding: 10px;
}

.inputs-rgs button {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .registration {
    padding: 15px;
  }
  .registration .bx {
    width: 24rem;
    height: 35rem;
    margin: 20px;
  }

  .bx .inputs-rgs input[type="text"] {
    width: 300px;
  }

  .bx .inputs-rgs input[type="password"] {
    width: 300px;
  }

  .registration span img {
    margin: 0;
    padding: 10px 0px;
    width: 80%;
  }

  .registration label {
    font-size: 25px;
    padding: 10px;
  }

  .inputs-rgs button {
    margin-top: 40px;
  }

  .bx button {
    width: 120px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .bx .inputs-lgn input[type="text"] {
    width: 300px;
    font-size: 15px;
  }

  .bx .inputs-lgn input[type="password"] {
    width: 300px;
    font-size: 15px;
  }

  .bx .links p {
    font-size: 20px;
  }
}
